<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
    Name="{{product_name}}"
    Manufacturer="{{manufacturer}}"
    Version="{{version}}"
    UpgradeCode="{{upgrade_code}}"
    Scope="perUser"
    Language="1033"
    Codepage="65001">
    <SummaryInformation Description="{{description}}" Manufacturer="{{manufacturer}}" />
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of {{product_name}} is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="ProductIcon" SourceFile="{{icon_path}}" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPURLINFOABOUT" Value="{{repository}}" />
    <Property Id="ARPCOMMENTS" Value="{{description}}" />
    <Property Id="ARPHELPLINK" Value="{{repository}}" />
    <Property Id="ARPREADME" Value="{{repository}}" />

    <util:CloseApplication
      Id="CloseDaatLocus"
      Target="{{binary_name}}"
      CloseMessage="yes"
      EndSessionMessage="yes"
      ElevatedCloseMessage="yes"
      ElevatedEndSessionMessage="yes"
      RebootPrompt="no"
      Timeout="10" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="DaatLocusProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="{{product_name}}">
          <Component Id="MainExecutable" Guid="{{app_component_guid}}">
            <File Id="MainExecutableFile" Source="{{binary_path}}" KeyPath="yes" />
          </Component>
          <Component Id="UserPathEnvironment" Guid="{{path_component_guid}}">
            <Environment
              Id="AddInstallFolderToUserPath"
              Name="PATH"
              Value="[INSTALLFOLDER]"
              Action="set"
              Part="last"
              System="no" />
            <RegistryValue
              Root="HKCU"
              Key="Software\{{manufacturer}}\{{product_name}}"
              Name="UserPathEnvironment"
              Type="integer"
              Value="1"
              KeyPath="yes" />
          </Component>
          <Directory Id="LauncherFolder" Name="Launcher">
            <Component Id="LauncherExecutable" Guid="{{launcher_component_guid}}">
              <File Id="LauncherExecutableFile" Source="{{launcher_binary_path}}" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>


    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="DaatLocusStartMenuFolder" Name="{{product_name}}">
        <Component Id="StartMenuShortcut" Guid="{{shortcut_component_guid}}">
          <Shortcut
            Id="DaatLocusStartMenuShortcut"
            Name="{{product_name}}"
            Description="{{description}}"
            Target="[#LauncherExecutableFile]"
            WorkingDirectory="INSTALLFOLDER"
            Icon="ProductIcon" />
          <RemoveFolder Id="RemoveDaatLocusStartMenuFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\{{manufacturer}}\{{product_name}}"
            Name="StartMenuShortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="{{product_name}}" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="LauncherExecutable" />
      <ComponentRef Id="UserPathEnvironment" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>
